
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.top-container {
  background-color: #7ebdb4;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  background-color: #dae1e7;
}

.bottom-container {
  background-color: #7ebdb4;
}

.profile-picture {
  border-radius: 50%;
  height: 200px;
  padding-top: 50px;
}

.skill-row {
  margin: 50px auto 50px auto;
  text-align: left;
  width: 75%;
}

.copyright {
  color: #eaf6f6;
}

.footer-link {
  font-weight: bold;
  text-decoration: none;
}

.contact-me {
  padding-bottom: 100px;
}

a {
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #eaf6f6;
  border-width: 5px;
  width: 5%;
  margin-top: 75px;
  margin-bottom: 75px;
}

h1 {
  color: #862a5c;
  margin: 25px auto 0 auto;
  font-family: 'Parisienne', cursive;
  font-size: 5.625rem;
}

h2 {
  color: #11999E;
  font-size: 2.5rem;
  margin: 50px auto 0 auto;
}

h3 {
  color: #66BFBF;
  font-family: 'Crimson Text', serif;
  font-weight: normal;
}

p {
  line-height: 2;
}

.writing {
  float: left;
  width: 25%;
  margin-right: 30px;
}

.front-end {
  float: right;
  width: 25%;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 20px;
  bottom: 300px;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  margin-top: 20px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
